@keyframes buttonPush {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mouse {
  0% {
    top: 25%;
  }
  25% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 25%;
  }
}
