$main: #ff4d61;
$title: #353252;
$text: #5e5c7f;
$body: #f9f7fd;

$barBG: #f1f1f1;

$sidebarBorder: #e8dfec;

$card1BG: #6c6ce5;
$card2BG: #f9d74c;
$card3BG: #f97b8b;
$cardDescription: #f8f9fa;

$scrollbarBG: #454360;

$border: #0000000d;
$whiteGray: #dedeea;

$developmentBar: #ffd15c;
$optimizationBar: rgb(108, 108, 299);
$designBar: #c34cff;

$gray: #9b98b3;
$white: white;
$black: #00000000;
