$fontMain: 'Balsamiq Sans', sans-serif;

$h1Size: 2.25rem;
$h2Size: 1.5rem;
$h3Size: 1.25rem;

$fontNormal: 1rem;
$fontSmall: 0.875rem;
$fontSmaller: 0.813rem;

$fontMedium: 500;
$fontSemibold: 600;
$fontBold: 700;
