.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.35rem;
}

@include mobileLarge {
  .wrapper {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@include mobileBig {
  .wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@include mobileSmaller {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
}

@include mobileSmallest {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
