@import '../../styles/vars/colors';
@import '../../styles//vars/fonts';

.item {
  width: 30px;
  height: 30px;
}

.link {
  font-size: 1.5rem;
  color: $title;
  font-weight: $fontBold;
  transition: 0.1s;
}

.link:hover {
  font-size: 1.875rem;
  color: $main;
}
