.wrapper {
  padding-top: 7rem;
  padding-bottom: 2rem;

  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  font-size: $h1Size;
  font-weight: $fontBold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75rem;
  text-align: center;
}

.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
}

.data {
  position: relative;
  display: grid;
  background-color: $white;
  padding: 1.875rem;
  border-radius: $borderRadius;
  box-shadow: $shadow;
  transition: all 0.3s ease-in-out;

  &:hover {
    @include moveUp;
  }
}

@include mobileBiggest {
  .experience {
    grid-template-columns: 450px;
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@include mobileSmall {
  .experience {
    grid-template-columns: 1fr;
    padding-left: 1.725rem;
    padding-right: 1.725rem;
  }
}
