@import '../../../styles/vars/fonts';
@import '../../../styles/vars/colors';
@import '../../../styles/vars/keyframes';

.wrapper {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.scroll {
  color: $title;
  font-size: $fontSmall;
}

.mouse {
  position: relative;
  border: 2px solid $mouse;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.75rem;
  border-radius: 1rem;
}

.wheel {
  position: absolute;
  background-color: $title;
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: mouse 2s linear infinite;
}
