.box {
  display: flex;
  column-gap: 1.5rem;
}

.icon {
  font-size: $h1Size;
  color: $whiteGray;
}

.title {
  font-size: 1.875rem;
}

@include mobileBiggest {
  .box {
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
  }
}
